.lista-elem,
.cim-sor {
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
}

.cim {
  font-weight: bold;
}

.eredmeny {
  font-style: italic;
  font-weight: 100;
}

@media (max-width: 550px) {
  .lista-elem {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cim {
    display: none;
  }
}
